<div class="container">
    <div class="row stats-wrapper">
        <div class="col s6">
            <div class="text center-align">
                Tasks Done
            </div>
            <div class="number center-align">
               <p>
                    <span>{{theCountDone()}}</span>
                </p>
            </div>
        </div>
        <div class="col s6">
            <div class="text center-align">
                Tasks left
            </div>
            <div class="number center-align">
                    <p>
                            <span>{{thecountNotDone()}}</span>
                        </p>
            </div>
        </div>
    </div>
    <div class="row wrapper z-depth-2">
        <!-- id="filled-in-box-1" -->
        <div class="col s12 task" *ngFor="let todo of toDos; let i = index">
            <p  [ngClass]="{ 'done': todo.status}"  (click)="toggle(i)">
                <!-- <input type="checkbox" id="filled-in-box-1"  style="position: static" ng-model="todo.status"/> -->
                <label for="filled-in-box-1" (click)="toggle(i)"><span>{{todo['task']}}</span></label>
            </p>
        </div>
    </div>
    <div class="form-wrapper z-depth-2">
        <form ng-submit="addToDo" ng-controller="toDoAdd">
            <div class="row">
                <div class="input-field col">
                    <input placeholder="Placeholder" [(ngModel)]="toDoText" name="toDoText" id="first_name" type="text" class="validate" >
                </div>
                <div class="submit col">
                    <a class="waves-effect waves-light btn right" (click)="toDoAdd()"><i class="material-icons right">send</i>Add</a>
                </div>
            </div>
        </form>
    </div>
</div>
